CompileFlags:
  Remove:
    - -include
    - -building-pch-with-obj
    - -fpch-instantiate-templates
    - -pch-through-header=*
    - /Yc*
    - /Yu*
    - /Fp*
    - /FI*

Style:
  AngledHeaders:
    - '(app|assets|demo|input|interfaces|layout|math|menu|minesweeper|platform|rendering|rock_paper_scissors|runtime|scene|snake|support|surface|ui)/.*'
